.p-sub-item {
  display: flex;
  flex-direction: column;
  padding: 20px 5px;

  & > button {
    width: 100px;
    height: 34px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  & > h3 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 16px;
    color: var(--ui-secondary);
  }

  & > p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .sub-list {
    display: flex;
    flex-direction: column;
  }
}
